@font-face {
	font-family: quicksand;
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(/fonts/quicksand/quicksand.ttf);
}

@font-face {
	font-family: quicksand;
	font-style: italic;
	font-display: swap;
	font-weight: 100 900;
	src: url(/fonts/quicksand/quicksand-italic.ttf);
}

:root {
	--font-a: quicksand;
	font-family: var(--font-a), "Open Sans", sans-serif;
}
