name: Release

on:
  push:
    branches:
      - main

jobs:
  # test:
  #   steps:
  #     - name: Setup PNPM
  #       uses: pnpm/action-setup@v2.0.1
  #       with:
  #           version: 7.0.0

  #     - name: Install Dependencies
  #       run: pnpm install

  #     - name: Check
  #       run: pnpm check
  release:
    # needs: test
    if: github.repository == 'fractalhq/fracpack'
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0

      - name: Setup Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Setup PNPM
        uses: pnpm/action-setup@v2.0.1
        with:
          version: 7.0.0

      - name: Install Dependencies
        run: pnpm install

      - name: Create Release Pull Request
        uses: changesets/action@v1
        with:
          publish: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
